* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
  
  body {
    border: solid 2px black;
    border-radius: 10px;
    margin: 0px;
    background-color: white;
  }
  
  /* ESTILOS GENERALES */
  
  .fuente-clara {
    color: #eeeeee;
  }
  
  .fuente-oscura {
    color: #22211f;
  }
  
  .fuente-acento {
    color: #b59a61;
  }
  
  nav ul li {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }
  
  nav ul li a {
    color: #eeeeee;
  }
  
  main {
    background-color: #fff;
    padding: 0px;
  }
  
  main section{
    background-color: #b7c6d4;
    margin: 10px 10px;
    padding: 10px;
  }
  
  main p {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: justify;
    font-family: arial;
    font-size: 20px;
    color: black;
  }
  
  .contacto {
    background-color: #091535;
    color: #fff;
    padding: 10px;
    width: 100%;
  }
  
  .contacto h2{padding: 10px;}
  
  .img-galeria {
    width: 25%;
    height: auto;
    background-color: #0648FE;
    padding: 20px;
    text-align: center;
  }
  
  .img-galeria p {
    color: black;
    font-size: 30px;
  }
  
  .img-galeria img {
    width: 220px;
  }
  
  .centrar-padre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .centrar-padre2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    width: 70%;
    padding: 20px;
  }
  
  .centrar-hijo p {
    padding-right: 20px;
    text-align: justify;
  }
  
  .centrar-hijo img {
    width: 300px;
  }
  
  /* ENCABEZADO */
  
  .logo {
    display: inline-block;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
  }
  
  header {
    background-color: #091535;
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
  }
  
  header nav {
    height: 80px;
    float: right;
  }
  
  nav ul.menu {
    float: right;
  }
  
  nav ul.menu li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul.menu li a {
    color: #eee;
    font-size: 15px;
    text-transform: uppercase;
    padding: 7px 7px;
  }
  
  /* MENU */
  
  .checkbtn {
    font-size: 25px;
    color: rgb(186, 5, 5);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  /* ------------- Encabezado Contacto ------------- */
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-header {
    text-align: center;
    background-color: #091535;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 100%;
    margin-top: 10px;
    padding: 50px;
  }
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #bdbdbd;
  }
  
  /* ------------- Formulario ------------- */
  
  .formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 100%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }
  
  /* ------------- Campos del Formulario ------------- */
  
  .form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .form-row input[type="text"],
  .form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }
  
  .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
  
    width: 100%;
  }
  
  .form-row button {
    font-size: 16px;
    font-weight: bold;
  
  
    color: #ffffff;
    background-color: #5995da;
  
  
    border: none;
    border-radius: 3px;
  
  
    padding: 10px 40px;
    cursor: pointer;
  }
  
  
  .form-row button:hover {
    background-color: #76aeed;
  }
  
  
  .form-row button:active {
    background-color: #407fc7;
  }
  
  /* MEDIA QUERIES */
  
  /* Estilos para pantallas más pequeñas (hasta 768px) */
  @media (max-width: 768px) {
  
    /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
  
    .checkbtn {
      display: block;
    }
  
    .navbar {
      height: 0vh;
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background: #2c3e50;
      text-align: center;
  
      transition: all 0.5s;
      overflow: hidden;
    }
  
    .navbar ul.menu {
      float: none;
      display: block;
      width: 174px;
      margin: 0 auto;
      opacity: 0;
    }
  
    .navbar ul.menu li a:hover {
      color: #b59a61;
    }
  
    /* ACTIVE */
    .navbar.active {
      height: 100vh;
    }
  
    .navbar.active ul.menu {
      opacity: 1;
    }
  
    .centrar-hijo img {
      width: 100%;
    }
  
    .img-galeria {
      width: 100%;
    }
  
    .img-galeria img {
      width: 100%;
    }
  
    .centrar-padre {
      display: block;
      width: 100%;
    }
  
    .centrar-padre2 {
      display: block;
      width: 100%;
      padding: 10px;
    }
  
  }